*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    position: relative;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
}

.header-nav-link{
    display: flex;
    column-gap: 157px;
    justify-content: center;
    align-items: center;
}

.header-logo{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.header-list{
    display: flex;
    column-gap: 40px;
}

.header-logo-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}

.header-link{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
    cursor: pointer;
    transition: .4s;
}

.header-link:hover{
    color: #F53838;
    text-decoration: underline;
    transition: .4s;
}

.header-sign{
    display: flex;
}

.header-button{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
    background: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    width: 150px;
    height: 45px;
    transition: .5s;
}

.header-button:hover{
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
    box-shadow: 4px 7px 32px -3px rgba(34, 60, 80, 0.47);
    transition: .8s;
}

.about{
    margin-top: 116px;
}
.about-info{
    display: flex;
    justify-content: space-between;
}

.about-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 20px;
}

.about-subtitle{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 50px;
}

.about-button{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 18px 78px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
}
.about-button:hover{
    box-shadow: 4px 7px 32px 12px rgba(34, 60, 80, 0.29);
    transition: .5s;
}

.meta{
    margin-top: 103px;
    display: flex;
    padding: 68px 91px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.metadata{
    width: 33.333333%;
    display: flex;
    column-gap: 37px;
    justify-content: center;
    align-items: center;
}

.meta-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 5px;
}

.meta-subtitle{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.meta-location{
    position: relative;
}
.meta-location::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 126px;
    background: #EEEFF2;
    left: 0;
}
.meta-location::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 126px;
    background: #EEEFF2;
    right: 0;
}

.features{
    margin-top: 150px;
}

.features-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

.features-subtitle{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 20px;
}

.features-lists{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.features-list{
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.features-check{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.pricing{
    margin-top: 80px;
}

.pricing-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin: 0 auto 20px;
}

.pricing-subtitle{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin: 0 auto 60px;
}


.pricing-card{
    display: flex;
    column-gap: 50px;
}

.pricing-card-info{
    padding: 50px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .8s;
}
.pricing-card-info:hover{
    border: 2px solid #F53838;
    transition: .6s;
}

.pricing-card-box{
    margin-bottom: 20px;
}

.pricing-card-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 30px;
}
.pricing-card-tariff{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pricing-card-lists{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.pricing-card-list{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.pricing-card-subtitle{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.indent-free{
    margin: 130px 0 20px 0;
}
.indent-pay{
    margin: 90px 0 20px 0;
}
.indent-traffic{
    margin: 50px 0 20px 0;
}

.pricing-card-btn{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    padding: 13px 63px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    transition: .8s;
}

.pricing-card-btn:hover{
    color: #FFFFFF;
    background: #F53838;
    box-shadow: 4px 7px 32px 7px rgba(34, 60, 80, 0.29);
    transition: .6s;
}

.testimonials{
    padding-top: 150px;
}

.testimonials-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin: 0 auto 20px;
}

.testimonials-subtitle{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center;
}

.testimonials-map-img{
    margin-top: 156px;
    margin-bottom: 7px;
    max-width: 1060px;
    width: 100%;
}

.testimonials-app-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.help{
    padding-top: 50px;
    padding-bottom: 302px;
    position: relative;
}

/*.help::after{*/
/*    content: url("../images/help/right.svg");*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    bottom: 138px;*/
/*    right: 60px;*/
/*}*/

.help-title{
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.help-subtitle{
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}
.up-text{
    padding-top: 20px;
}

.help-card{
    display: flex;
    column-gap: 50px;
    margin-top: 60px;
    position: relative;
}

.help-card::before{
    content: url("../images/help/Group.svg");
    position: absolute;
    bottom: -83px;
    cursor: pointer;
}
/*.help-card::after{*/
/*    content: url("../images/help/left.svg");*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    bottom: -106px;*/
/*    right: 80px;*/
/*}*/


.help-card-info{
    padding: 30px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}



.help-card-info-person{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-card-info-meta{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.help-card-info-rating{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.help-card-info-text{
    margin-top: 27px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
}
.arrow-position{
    transition: .5s;
}

.arrow-position:hover{
    border: 2px solid #F53838;
    transition: .5s;

}


.arrow-position::after{
    content: url("../images/help/right.svg");
    position: absolute;
    cursor: pointer;
    bottom: -165px;
    right: -45px;
}


.arrow-position::before{
    content: url("../images/help/left.svg");
    position: absolute;
    cursor: pointer;
    bottom: -106px;
    right: 80px;
}

.help-subscribe{
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 233px;
    bottom: -116px;
    box-shadow: 8px 14px 49px 21px rgba(34, 60, 80, 0.2);
}

.help-subscribe-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
    margin-bottom: 20px;
}

.help-subscribe-subtitle{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.help-subscribe-btn{
    color: #FFFFFF;
    padding: 18px 65px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.footer{
    padding: 180px 0 100px;
    background: #F8F8F8;
}

.footer-nav{
    display: flex;
    margin-top: 64px;
}
.footer-nav-logo{
    width: 40%;
}

.footer-nav-logotype{
    margin-bottom: 10px;
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer-nav-item{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    cursor: pointer;
}
.footer-nav-item:hover{
    text-decoration: underline;
}


.footer-nav-icon{
    cursor: pointer;
}

.footer-nav-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
.footer-nav-sections{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.burger{
    display: none;
}





/*1321-1440*/
@media (max-width: 1440px) {

}

/*1201-1320*/
@media (max-width: 1320px) {

}


/*1141-1200*/
@media (max-width: 1200px) {
    
}

/*993-1140*/
@media (max-width: 1140px) {
    .header-nav-link {
        column-gap: 100px;
    }
    .container{
        padding: 0 20px;
    }
}


/*787-992*/
@media (max-width: 992px) {
    .header-nav-link {
        column-gap: 50px;
    }
    .header-list {
        column-gap: 20px;
    }
    .header-button {
        width: 90px;
    }
    .header-button:hover{
        border: none;
        text-decoration: underline;
    }
    .about-title {
        font-size: 25px;
        line-height: 40px;
    }
    .about-button {
        padding: 10px 60px;
    }
    .about-img{
        width: 50vw;
    }
    .meta {
        padding: 68px 20px;
    }
    .metadata {
        column-gap: 25px;
    }
    .features-img{
        width: 50vw;
    }
    .features-title {
        font-size: 25px;
        line-height: 40px;
    }
    .testimonials-img{
        width: 18vw;
    }
    .help-title {
        font-size: 25px;
    }
    .help-card {
        column-gap: 30px;
    }
    .help-card-info {
        padding: 20px;
    }
    .help-subscribe-title {
        font-size: 25px;
    }
    .help-subscribe{
        margin: 0 20px 0 0;
    }
    .pricing-title {
        font-size: 25px;
    }
}

/*677-786*/
@media (max-width: 786px) {
    .meta {
        padding: 68px 0;
    }
    .metadata {
        column-gap: 15px;
    }
    .meta-title {
        font-size: 20px;
    }
    .pricing-card {
        column-gap: 30px;
    }
    .pricing-card-lists {
        column-gap: 10px;
    }
    .pricing-card-btn {
        padding: 13px 53px;
    }
    .testimonials-title {
        font-size: 25px;
    }
    .testimonials {
        padding-top: 100px;
    }
    .testimonials-map-img {
        margin-top: 100px;
    }
    .help-card {
        column-gap: 10px;
    }
    .help-card-info {
        padding: 10px;
    }
    .footer-nav-list {
        row-gap: 20px;
    }
    .footer-nav-sections {
        align-items: center;
    }
    .footer-nav-item {
        font-size: 14px;
        line-height: 25px;
    }
}

/*577-676*/
@media (max-width: 676px) {
    .pricing-card {
        column-gap: 20px;
    }
    .pricing-card-list {
        line-height: 15px;
    }
    .indent-pay {
        margin: 96px 0 20px 0;
    }
    .indent-traffic {
        margin: 60px 0 20px 0;
    }
    .help-card {
        column-gap: 5px;
    }
    .help-card-info {
        padding: 5px;
    }
    .help-card-info-rating {
        column-gap: 5px;
    }
    span{
        font-size: 12px;
    }
    .help-personal-information{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    .help-card-info-title, .help-card-info-subtitle{
        font-size: 14px;
    }
    .help-subscribe-title {
        font-size: 25px;
        line-height: 35px;
    }
    .help-subscribe-btn {
        padding: 18px 55px;
    }
    .help-subscribe {
        padding: 0 40px;
    }
    .header-burger-nav{
        display: flex;
        column-gap: 10px;
        align-items: flex-end;
        position: relative;
    }
    .burgerNav_active{
        background: deepskyblue;
        position: absolute;
        top: -115px;
        left: 0;
        width: 100%;
        height: 250px;
        z-index: 10;
    }
    .header-nav{
        display: none;
    }
    .burger{
        display: flex;
        width: 40px;
        height: 40px;
        background: white;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .headerNav_active{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 20%;
        padding-top: 50px;
        flex-direction: column;
    }
    .headerNavLink_active{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        flex-direction: column;
    }
    .headerList_active{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        flex-direction: column;
    }


    .burger_active{
    }

    .burger-line{
        width: 40px;
        height: 3px;
        background: black;
        position: relative;
        cursor: pointer;
    }

    .burger-line::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background: black;
        top: 11px;
    }
    .burger-line::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background: black;
        bottom: 12px;
    }
}

/*426-576*/
@media (max-width: 576px) {
    .about-title {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .about-subtitle {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .about-button {
        padding: 10px 40px;
        font-size: 14px;
    }
    .meta-img{
        width: 10vw;
    }
    .meta-title {
        font-size: 12px;
    }
    .meta-subtitle {
        font-size: 12px;
        line-height: 20px;
    }
    .features-title {
        font-size: 20px;
        line-height: 30px;
    }
    .features-right-text{
        width: 50vw;
        padding: 0 20px 0 0;
    }
    .features-list {
        font-size: 14px;
        line-height: 20px;
    }
    .pricing-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
    .testimonials-title {
        font-size: 20px;
    }
    .testimonials-subtitle {
        line-height: 20px;
    }
    .help-title {
        font-size: 20px;
        line-height: 30px;
    }
    .help-subtitle {
        line-height: 20px;
    }
    .help-card {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
    }
    .help-card::before {
        content: '';
    }
    .arrow-position::before {
        content: '';
    }
    .arrow-position::after {
        content: '';
    }
    .help-subscribe-title {
        font-size: 20px;
        line-height: 25px;
    }
    .help-subscribe-subtitle {
        line-height: 25px;
    }
    .help-subscribe-btn {
        padding: 12px 45px;
    }
    .footer-nav-img {
        width: 26vw;
    }
    .footer-nav-item {
        font-size: 12px;
        line-height: 15px;
        display: flex;
    }
    .footer-nav-icon {
        width: 10vw;
    }
    .footer-nav-list {
        row-gap: 10px;
    }
    .footer-nav-title {
        font-size: 14px;
    }
}

@media (max-width: 425px) {

}









